{% extends "data_analysis/plantilla_analisis.html" %}

{% block title %}Correlación de Pearson{% endblock %}

{% block formulario %}

    <form action="{% url 'data_analysis:correlacion_pearson' file_name=file_name %}" method="post">
        {% csrf_token %}
        <div class="d-flex align-items-center mb-4 justify-content-between">
            <h5 class="mb-0 me-4">Correlación de Pearson</h5>
            <!-- Botón para abrir el modal -->
            <button type="button" class="btn btn-outline-info p-1" data-bs-toggle="modal" data-bs-target="#modalInstrucciones">
                <i class="bi bi-book"></i> Ayuda
            </button>
        </div>

        <div class="d-flex gap-4 justify-content-start flex-wrap mt-2 mb-4">
            
            <div style="width: 100%">
                <p>Selecciona las variables a analizar</p>
                <div class="form-check mb-2">
                    <!-- Casilla para seleccionar o deseleccionar todo -->
                    <input class="form-check-input" type="checkbox" id="seleccionar_todo">
                    <label class="form-check-label mb-2" for="seleccionar_todo" style="font-weight: bold;">
                        Seleccionar todo
                    </label>
                </div>
                <!-- Distribución de columnas utilizando el sistema de grid de Bootstrap -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-0">
                    {% for columna in columnas %}
                    <div class="col" style="overflow: hidden">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" name="variables" value="{{ columna }}" id="check_{{ columna }}">
                            <label class="form-check-label text-truncate" for="check_{{ columna }}" title="{{ columna }}" style="max-width: 90%; cursor: pointer;">
                                {{ columna }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>

        {{ block.super }}
    </form>

    <!-- seleccionar todo -->
    <script>
        document.getElementById('seleccionar_todo').addEventListener('change', function() {
            var checkboxes = document.querySelectorAll('[name="variables"]');
            checkboxes.forEach(chk => {
                chk.checked = this.checked;
            });
        });
    </script>

    {% comment %} modal {% endcomment %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            // Cerrar el modal al presionar el botón de cerrar o hacer clic fuera del modal
            $('#modalInstrucciones').on('hidden.bs.modal', function () {
            });
        });
    </script>
    
<!-- Modal de Instrucciones de Uso -->
<div class="modal fade" id="modalInstrucciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Instrucciones de uso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Correlación de Pearson</h5>
                <p>La correlación de Pearson mide la fuerza y la dirección de la relación lineal entre dos variables numéricas. El coeficiente de correlación de Pearson varía entre -1 y 1, donde:</p>
                <ul>
                    <li>1 indica una correlación positiva perfecta.</li>
                    <li>-1 indica una correlación negativa perfecta.</li>
                    <li>0 indica que no hay correlación lineal.</li>
                </ul>

                <hr>
                <h5>Pasos a Seguir</h5>
                <ol>
                    <li><strong>Selecciona las Variables a Analizar:</strong> Elige las variables numéricas del dataset que deseas analizar para calcular la correlación de Pearson. Puedes seleccionar todas las columnas o elegir columnas específicas.</li>
                </ol>

                <hr>
                <h6>Ejemplo</h6>
                <p>Supongamos que se tiene el siguiente DataFrame con varias variables numéricas:</p>
                <div class="text-center">
                    <pre>| Edad | Colesterol | Presión Arterial | Ingresos |
| --- | --- | --- | --- |
| 45  | 220 | 140              | 50000    |
| 50  | 180 | 120              | 60000    |
| 40  | 200 | 130              | 55000    |
| 60  | 240 | 150              | 65000    |
| 55  | 210 | 140              | 70000    |</pre>
                </div>
                
                <hr>
                <h6>Resultados</h6>
                <p>Al seleccionar todas las variables, se calcularán los coeficientes de correlación de Pearson entre cada par de variables:</p>
                <div class="text-center">
                    <pre>|                 | Edad | Colesterol | Presión Arterial | Ingresos |
| ---             | ---  | ---        | ---              | ---      |
| Edad            | 1    | 0.8        | 0.6              | 0.9      |
| Colesterol      | 0.8  | 1          | 0.7              | 0.85     |
| Presión Arterial| 0.6  | 0.7        | 1                | 0.65     |
| Ingresos        | 0.9  | 0.85       | 0.65             | 1        |</pre>
                </div>
                <p>Estos valores indican la fuerza y la dirección de las relaciones lineales entre las variables seleccionadas.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}