{% extends "data_analysis/plantilla_analisis.html" %}
{% block formulario %}

<form action="{% url 'data_analysis:distribucion_frecuencias' file_name=file_name %}" method="post">
    {% csrf_token %}
    <div class="d-flex align-items-center mb-4 justify-content-between">
        <h5 class="mb-0 me-4">Distribución de Frecuencias</h5>
        <!-- Botón para abrir el modal -->
        <button type="button" class="btn btn-outline-info p-1" data-bs-toggle="modal" data-bs-target="#modalInstrucciones">
            <i class="bi bi-book"></i> Ayuda
        </button>
    </div>

    <div id="group_columna_especifica" style="width: 100%;">
        <p>Seleccione las variables categóricas:</p>
        <div class="form-check mb-2">
            <!-- Casilla para seleccionar o deseleccionar todo -->
            <input class="form-check-input" type="checkbox" id="seleccionar_todo">
            <label class="form-check-label mb-2" for="seleccionar_todo" style="font-weight: bold;">
                Seleccionar todo
            </label>
        </div>
        <!-- Distribución de columnas -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-0">
            {% for columna in columnas %}
            <div class="col" style="overflow: hidden">
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" name="columnas_a_manipular" value="{{ columna }}" id="check_{{ columna }}">
                    <label class="form-check-label text-truncate" for="check_{{ columna }}" title="{{ columna }}" style="max-width: 90%; cursor: pointer;">
                        {{ columna }}
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

   
    {{ block.super }}

</form>

<script>
    //seleccionar todas las columnas
    document.getElementById('seleccionar_todo').addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('[name="columnas_a_manipular"]');
        checkboxes.forEach(chk => {
            chk.checked = this.checked;
        });
    });
</script>

<script>
    $(document).ready(function(){

        // Cerrar el modal al presionar el botón de cerrar o hacer clic fuera del modal
        $('#modalInstrucciones').on('hidden.bs.modal', function () {
        });
    });
</script>

<!-- Modal de Instrucciones de Uso -->
<div class="modal fade" id="modalInstrucciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Instrucciones de uso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Distribución de Frecuencias</h5>
                <p>La distribución de frecuencias es una técnica utilizada para contar el número de veces que cada valor de una variable categórica aparece en un conjunto de datos.</p>

                <hr>
                <h5>Pasos a Seguir</h5>
                <ol>
                    <li><strong>Seleccione las Variables Categóricas:</strong> Elija las variables categóricas para las que desea calcular la distribución de frecuencias. Puede seleccionar todas las columnas categóricas o elegir variables específicas.</li>
                </ol>

                <hr>
                <h6>Ejemplo</h6>
                <p>Supongamos que se tiene el siguiente DataFrame con información sobre clientes:</p>
                <div class="text-center">
                    <pre>| Nombre   | Ciudad      | Género |
| ---      | ---         | ---    |
| John Doe | Nueva York  | M      |
| Jane Doe | Los Ángeles | F      |
| Alice    | Nueva York  | F      |
| Bob      | Chicago     | M      |
| Carol    | Los Ángeles | F      |</pre>
                </div>

                <hr>
                <h6>Variables Categóricas:</h6>
                <p>"Ciudad", "Género"</p>

                <hr>
                <h6>Resultados de la Distribución de Frecuencias</h6>
                <div class="text-center">
                    <pre>| Columna | Frecuencia                      |
| ---     | ---                             |
| Ciudad  | Nueva York: 2                   |
|         | Los Ángeles: 2                  |
|         | Chicago: 1                      |
| Nombre  | John Doe: 1                     |
|         | Jane Doe: 1                     |
|         | Alice: 1                        |
|         | Bob: 1                          |
|         | Carol: 1                        |
| Género  | M: 2                            |
|         | F: 3                            |</pre>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
