
/* ESTILOS PARA LAS TABLAS */
.scrollable-table {
    width: 100%;
    height: calc(100vh - 110px);
    overflow-y: auto;
}


.table thead th {
    text-align: center;
}

.table tbody td {
    text-align: center;
}




