{% comment %} <h3>{% block titulo_tabla %}Tus datos{% endblock %}</h3>  {% endcomment %}


    <!-- Este template se utiliza para mostrar un DataFrame en una tabla HTML desplazable y se utilizala a lo largo de todo el proyecto. -->

    <!-- Botones para navegar entre las páginas -->
    <!-- <button onclick="cambiarVersion('atras')">Atrás</button>
    <button onclick="cambiarVersion('adelante')">Adelante</button>-->

    <div class="scrollable-table bg-white rounded shadow mb-4 mt-4">
        <!-- Muestra el DataFrame como tabla HTML -->
        {{ dataframe|safe }}
    </div>   
    
    <script>
        var file_name = "{{ file_name }}";
        var startRow = 20;
        var isLoading = false;
        var isAllDataLoaded = false;
        
        function fetchMoreRows() {
            if (isLoading || isAllDataLoaded) return;
            
            isLoading = true;
            fetch(`/cargar_mas_filas/${file_name}?start=${startRow}`)
                .then(response => response.json())
                .then(json => {
                    let data = json.data.trim();
                    if (data) {
                        var tableBody = document.querySelector('.scrollable-table table tbody');
                        tableBody.insertAdjacentHTML('beforeend', data);
                        startRow += 20;
                    } else {
                        isAllDataLoaded = true; // No más datos para cargar
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                })
                .finally(() => {
                    isLoading = false; // Restablece el flag independientemente del resultado
                });
        }
        
        // Función de debounce para limitar la frecuencia con la que una función puede ejecutarse
        function debounce(func, wait) {
            let timeout;
            return function(...args) {
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(this, args), wait);
            };
        }
        
        // Agrega un evento de desplazamiento al contenedor de la tabla
        document.addEventListener('DOMContentLoaded', function() {
            var scrollableTable = document.querySelector('.scrollable-table');
            if (scrollableTable) {
                scrollableTable.onscroll = debounce(function() {
                    var scrollBottom = scrollableTable.scrollHeight - scrollableTable.clientHeight - scrollableTable.scrollTop;
                    if (scrollBottom < 100 && !isLoading) {
                        fetchMoreRows();
                    }
                }, 100);
            }
        });
        
    </script>
    