{% extends "data_cleaning/plantilla_opciones.html" %}
{% block title %}Filtrar datos{% endblock %}

{% block formulario %}
    <form action="{% url 'data_cleaning:filtrar_datos' file_name=file_name %}" method="post"> 
        {% csrf_token %}
        <div class="d-flex align-items-center mb-4 justify-content-between">
            <h5 class="mb-0 me-4">Filtrar datos por condición</h5>
            <!-- Botón para abrir el modal -->
            <button type="button" class="btn btn-outline-info p-1" data-bs-toggle="modal" data-bs-target="#modalInstrucciones">
                <i class="bi bi-book"></i> Ayuda
            </button>
        </div>
        
        
        <div class="d-flex gap-4 justify-content-start flex-wrap mt-2 mb-4">
            <div>
                <p>Defina la condición de filtrado:</p>
                <div>
                    <input type="text" class="form-control" id="condicion" name="condicion" placeholder="Ej: x > 0">
                    <small class="form-text text-muted">Ingrese una expresión válida. Ejemplo: x > 0 para conservar valores mayores a 0.</small>
                    <small class="form-text text-muted">Las filas que no pasen el filtro serán eliminadas.</small>
                </div>
            </div>

            <div style="width: 100%">
                <p>Seleccione las columnas que desea evaluar:</p>
                <div class="form-check mb-2">
                    <!-- Casilla para seleccionar o deseleccionar todo -->
                    <input class="form-check-input" type="checkbox" id="seleccionar_todo">
                    <label class="form-check-label mb-2" for="seleccionar_todo" style="font-weight: bold;">
                        Seleccionar todo
                    </label>
                </div>
                <!-- Distribución de columnas -->
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-0">
                    {% for columna in columnas %}
                    <div class="col" style="overflow: hidden">
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" name="columnas_a_manipular" value="{{ columna }}" id="check_{{ columna }}">
                            <label class="form-check-label text-truncate" for="check_{{ columna }}" title="{{ columna }}" style="max-width: 90%; cursor: pointer;">
                                {{ columna }}
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if not columnas %}
                    <small class="text-info">
                        <i class="bi bi-info-circle-fill"></i> No hay columnas disponibles para evaluar.
                    </small>
                {% endif %}
            </div>
            
        </div>

        {{ block.super }}
    </form>

        <!-- seleccionar todo -->
    <script>
        document.getElementById('seleccionar_todo').addEventListener('change', function() {
            var checkboxes = document.querySelectorAll('[name="columnas_a_manipular"]');
            checkboxes.forEach(chk => {
                chk.checked = this.checked;
            });
        });
    </script>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            // Cerrar el modal al presionar el botón de cerrar o hacer clic fuera del modal
            $('#modalInstrucciones').on('hidden.bs.modal', function () {
            });
        });
    </script>


    <!-- Modal de Instrucciones de Uso -->
<div class="modal fade" id="modalInstrucciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Instrucciones de uso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Filtrar datos por Condición</h5>
                <p>La filtración de datos por condición implica seleccionar solo las filas que cumplen con una condición específica, descartando las que no la cumplen.</p>

                <hr>
                <h5>Pasos a Seguir</h5>
                <ol>
                    <li><strong>Definir la Condición de Filtrado:</strong> Especifica la condición que deben cumplir los datos para ser incluidos en el análisis. Debe ser una comparación numérica.</li>
                    <li><strong>Seleccionar las Columnas a Evaluar:</strong> Decide qué columnas numéricas del dataset deseas evaluar para aplicar la condición de filtrado. Puedes seleccionar todas las columnas o elegir columnas específicas.</li>
                    <li><strong>Aplicar la Condición de Filtrado:</strong> Filtra las filas del dataset que cumplen con la condición especificada. Las filas que no cumplan con la condición serán eliminadas del dataset resultante.</li>
                </ol>

                <hr>
                <h6>Ejemplo</h6>
                <p>Supongamos que se tiene el siguiente DataFrame con valores numéricos:</p>
                <div class="text-center">
                    <pre>| Valor | Categoría |
| --- | --- |
| 10 | A |
| -5 | B |
| 8 | A |
| 15 | C |
| 7 | B |
| 20 | A |
| 25 | C |</pre>
                </div>

                <hr>
                <h6>Resultados</h6>
                <p>Se eliminan las filas que no cumplen con la condición especificada:</p>
                <div class="text-center">
                    <pre>| Valor | Categoría |
| --- | --- |
| 10 | A |
| 8 | A |
| 15 | C |
| 20 | A |
| 25 | C |</pre>
                </div>
                <p>En este ejemplo, las filas con valores negativos (como -5 y 7) son eliminadas, ya que no cumplen con la condición de ser mayores que 0.</p>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
